/*.App {*/
  /*text-align: center;*/
/*}*/

/*.App-logo {*/
  /*height: 40vmin;*/
/*}*/

/*.App-header {*/
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
/*}*/

/*.App-link {*/
  /*color: #09d3ac;*/
/*}*/

@font-face {
  font-family: 'barbados';
  src: url('./../Common/fonts/Barbaro-Roman/barbaro.ttf');
  src:
          local('barbados'),
          local('barbados'),
          url('./../Common/fonts/Barbaro-Roman/barbaro.ttf')
          format('opentype');
}
body{
  padding: 0!important;
  margin: 0!important;
  font-family: barbados!important;
}
html{
  padding: 0!important;
  margin: 0!important;
  font-family: barbados!important;
}
.loading-overlay {
  z-index: 1050;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.loading {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(146, 44, 136, 0.2);
  border-radius: 50%;
  border-top-color: #922C88;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  position: fixed;
  z-index: 1;
}
.fontFamiliyBarbaDos{
  font-family: barbados;
}
.z-1{
  z-index: 1
}
.z-2{
  z-index: 2
}
.z-3{
  z-index: 3
}
.z-4{
  z-index: 4
}
.z-5{
  z-index: 5
}
.z-6{
  z-index: 6
}
.videoPlay{
    width: 100%;
    height: 100%;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.BTNBACK{
    opacity: 0.1;
}
.BTNBACK:hover{
    opacity: 1;
}
.firstHeader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
}
.alineTicket{
 align-items: flex-end;
}
.imgSelf{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.imgSelf2{
    width: 100%;
    height: 120%;
    object-fit: fill;
}
.imgSelf-cover{
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

.divOver{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.divOverP2{
    width: 100%;
    /*height: 100%;*/
    font-size: 1.5vw;
    position: absolute;
    top: 15%;
    left: 20%;

    /*color: white!important;*/
}
.divOverP3{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 19%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
  left: 17%;
  /*color: white!important;*/
}
.divOverP3-2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 18%;
    left: 27%;
  /*color: white!important;*/
}


.textRotationHeader{
    transform: rotate(-3deg);
}
.textRotationHeader2{
    transform: rotate(-2deg);
}
.textRotationHeader1{
    transform: rotate(-1deg);
}
.divOverP6{
    width: 100%;
    /*height: 100%;*/
    position: absolute;
    top: 10%;
    left: 13%;
    /*color: white!important;*/
}
.divOverP10{
    width: 100%;
    /*height: 100%;*/
    position: absolute;
    top: 10%;
    left: 10%;
    /*color: white!important;*/
}

.divOver30{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 15vh;
  left: 0;
}
.divOver2{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100vh;
  left: 0;
}

.vh-10{
  height: 10vh;
}
.vh-12{
    height: 12vh;
}
.vh-5{
  height: 5vh;
}
.vh-3{
    height: 3vh;
}
.vh-7{
  height: 7vh;
}
.vh-90{
    height: 80vh;
}
.pointer{
  cursor: pointer!important;
}
.br-05{
border-radius: 20%;
}
/*.backSelf{*/
  /*background: url("./../Common/img/Backgrounds/Backgrounds/1-bg.jpg") no-repeat center ;*/
  /*background-size: cover;*/
  /*width: 100%;*/
  /*height: 100vh;*/
  /*object-fit: fill;*/
/*}*/
.vh-100{
  height: 100vh;
}
.vh-35{
  height: 35vh;
}
.vh-30{
  height: 30vh;
}
.vh-40{
  height: 40vh;
}
.vh-45{
  height: 50vh;
}
.vh-50{
    height: 50vh;
}
.vh-25{
  height: 25vh;
}
.vh-20{
  height: 20vh;
}
.vh-15{
  height: 15vh;
}
.vh-13{
    height: 13vh;
}
.top0{
  top: 0;
}
.box2{
  position: absolute;
  /*width: 70%;*/
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  /*left: 30%;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*top: 0;*/
  /*left: 0;*/
  /*right: 0;*/

}
.box2-2{
    position: absolute;
    top: 0;
    bottom: 0;
    /*margin-top: auto;*/
    margin-bottom: auto;
}
.bgGreen{
    width: 100%;
    height:50vh;
    background-image: url('./../Common/img/2-assets/SVG/greentext_bg.svg');
    background-size: 100% 100%;
/*}*/
  /*background: url("./../Common/img/2-assets/SVG/greentext_bg.svg") no-repeat center ;*/
  /*background-size: cover;*/
}
.alink{
    color: black;
    text-decoration: none;

}
.alink2{
    color: black;
    text-decoration: none;

}
.alink:hover{
    padding-bottom: 3px;
    color: black;
    text-decoration: none;
    border-bottom:2px solid black ;
    transition: 0.2s;
    /*font-weight: 600;*/
}
.alink2:hover{
    padding-bottom: 3px;
    color: #604e2b;
    text-decoration: none;
    /*border-bottom:2px solid black ;*/
    /*transition: 0.2s;*/
    /*font-weight: 600;*/
}
.liNone{
    list-style-type: none;
    font-size: 1vw;
}
.FontSize1vw{
  font-size:1vw
}
.FontSize05vw{
    font-size:0.7vw
}
.FontSize13vw{
  font-size:1.3vw
}
.FontSize15vw{
  font-size:1.5vw
}
.FontSize18vw{
    font-size:1.8vw
}
.FontSize2vw{
  font-size:2vw
}

.FontSize25vw{
  font-size:2.5vw
}
.paddingZero{
  padding: 0!important;
}
.colorGreen{
  color: #5ecb80;
}
.h90{
    height: 90%;
}
.thierdBox{
  position: absolute;
  width:40%;
  top:12vh;
  bottom: 0;
  /*margin-top: auto;*/
  /*margin-bottom: auto;*/
  height: 45vh;
  left: 45%;
  /*background: #922C88;*/
}
.box2-3{
    position: absolute;
    width:60%;
    top:2vh;
    bottom: 0;
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
    height: 45vh;
    left: 30%;
}

.box7{
    position: absolute;
    width:60%;
    top:15%;
    bottom: 0;
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
    /*height: 30vh;*/
    left:1%;
}
.box8{
    position: absolute;
    top: 20%;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.box11{
    position: absolute;
    width:50%;
    top:20%;
    bottom: 0;
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
    height: 45vh;
    left: 45%;
}
.overFlow-Hidden{
    overflow: hidden;
}
.ml10{
    margin-left: 10em;
}
.ml6{
    margin-left: 3.5vw;
}
.ml7{
    margin-left: 1.2vw;
}
.ml8{
    margin-left: 1.5vw;
}
.ml9{
    margin-left: 550px;
}
/*.ml9{*/
    /*margin-left: 1.5vw;*/
/*}*/
.hrTag{
    color: white;
    z-index: 999;
    height: 2vh;
    font-weight: bolder;
}
h1 , h3
{
    line-height: 1.5 !important;
}


.h80{
    height: 0!important;
}
.imgSelf-cover80{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.BtnBack{
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 99999999999;
}
.textconst{
    width: 100%;
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 2vw;
}

@media only screen and (min-width: 760px) {
    /* For   tablet: */
    .axWidth{
        -ms-flex: 0 0 9.666667%;
        flex: 0 0 9.666667%;
        max-width: 9.666667%;
    }
    .firstTextOver{
        /*width: 100%;*/
        /*height: 100%;*/
        position: absolute;
        top: 12%;
        text-align: center;
        /*left: 0;*/
        font-size: 2.8vw;
    }
    /*h1{*/
        /*!*width: 100%;*!*/
        /*!*height: 100%;*!*/
        /*position: absolute;*/
        /*top: 12%;*/
        /*text-align: center;*/
        /*!*left: 0;*!*/
        /*font-size: 2.8vw;*/
        /*cursor: pointer;*/
    /*}*/
    .divOverP4{
        width: 100%;
        position: absolute;
        top: 10%;
        left: 10%;
        font-size: 2vw;
    }
    .divOverP4-2{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 15%;
        left: 20%;
        color: white!important;
        font-size: 1.8vw;

    }

    .box5{
        position: absolute;
        width:60%;
        top:20%;
        bottom: 0;
        font-size: 2vw;
        height: 45vh;
        left: 35%;
    }
    .slider1{
        position: absolute;
        width:100%;
        top:5%;
        bottom: 0;
        font-size: 2vw;
        height: 45vh;
margin-left: auto;
margin-right: auto;
    }
    .margin-auto{
        margin-left: auto;
        margin-right: auto;    }
    .divOverSlider1{
        width: 100%;
        position: absolute;
        top: 20%;
        left: 12%;
        font-size: 2vw;
    }
    .divOverP7{
        width: 100%;
        position: absolute;
        top: 10%;
        left: 10%;
        font-size: 2.4vw;
    }
    .divOverP7-2{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 17%;
        left: 28%;
        color: white!important;
        font-size: 1.6vw;
        /*text-align: center;*/

    }
    .box10{
        position: absolute;
        top: 10%;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        right: 8%;
    }
    .textSplit{
        width: 100%;
        position: absolute;
        top: 10%;
        left: 10%;
        font-size: 2vw;
    }
    .text11{
        width: 100%;
        position: absolute;
        top: 10%;
        left: 10%;
        font-size: 2vw;
    }
    .buttonTab{
        /*width: 100%;*/
        font-size: 1.3vw;
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        /*left: 40%;*/
    }
    .divOverP11-2{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 15%;
        left: 20%;
        color: white!important;
        font-size: 2vw;

    }
    .divOverP11-2-1{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 15%;
        left: 35%;
        color: white!important;
        font-size: 2vw;

    }
    .fontSizeHeader{
        font-size: 1.3vw;
    }

}
@media only screen and (max-width: 760px) {
    /* For mobile  : */
    .axWidth{
        -ms-flex: 0 0 17%;
        flex: 0 0 17%;
        max-width: 17%;
    }
    .fontSizeHeader{
        font-size: 2vw;
    }
    .firstTextOver{
        /*width: 100%;*/
        /*height: 100%;*/
        position: absolute;
        top:30%;
        text-align: center;
        left: 12%;
        font-size: 2.8vw;
    }
    .box5{
        position: absolute;
        width:80%;
        top:20%;
        bottom: 0;
        height: 45vh;
        left: 25%;
    }

    .slider1 {
        position: absolute;
        width:100%;
        top:5%;
        bottom: 0;
        font-size: 2vw;
        height: 45vh;
        margin-left: auto;
        margin-right: auto;
    }

    .divOverP4{
        width: 100%;
        position: absolute;
        top: 11%;
        left: 13%;
        font-size: 3vw;
    }
    .divOverP4-2{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 20%;
        left: 20%;
        color: white!important;
        font-size: 2.2vw;
    }
    .divOverP7{
        width: 100%;
        position: absolute;
        top: 10%;
        left: 10%;
        font-size: 2.8vw;
    }
    .divOverP7-2{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 35%;
        left: 28%;
        color: white!important;
        font-size:1.5vw;
        /*text-align: center;*/

    }
    .divOverSlider1{
        width: 100%;
        position: absolute;
        top: 25%;
        left: 15%;
        font-size: 2.3vw;
    }
    .box10{
        position: absolute;
        top: 15%;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        right:10%;
    }
    .textSplit{
        width: 100%;
        position: absolute;
        top: 25%;
        left: 10%;
        font-size: 3vw;
    }
    .text11{
        width: 100%;
        position: absolute;
        top: 11%;
        left: 15%;
        font-size: 2.2vw;
    }
    .buttonTab{
        /*width: 100%;*/
        font-size: 2vw;
        color: white;
        position: absolute;
        bottom: 0;
        left: 40%;
    }
    .divOverP11-2{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 35%;
        left: 20%;
        color: white!important;
        font-size: 2.2vw;
    }
    .divOverP11-2-1{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 35%;
        left: 20%;
        color: white!important;
        font-size: 2.2vw;
    }

}

#first{
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-image: url('./../Common/img/Backgrounds/Backgrounds/1-bg.jpg');*/
    /*background-size: 100% 100%;*/

    background-image: url("./../Common/img/Backgrounds/Backgrounds/1-bg.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 110vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

}
#second{
    background-image: url("./../Common/img/Backgrounds/Backgrounds/2.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 50vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 100% 100%;
    width: 100%;
    /*height:50vh;*/
    /*background-image: url('./../Common/img/Backgrounds/Backgrounds/2.jpg');*/
    /*background-size: 100% 100%;*/
    z-index: 999999!important;
}

#third{
    background-image: url("./../Common/img/Backgrounds/Backgrounds/3-bg.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 110vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    width: 100%;
    /*height: 100%;*/
    /*background-image: url('./../Common/img/Backgrounds/Backgrounds/3-bg.jpg');*/
    /*background-size: 100% 100%;*/
    /*border: 1px solid red;*/
}
#fourth{
    width: 100%;
    height:50vh;
    background-image: url('./../Common/img/Backgrounds/Backgrounds/4-bg.jpg');
    background-size: 100% 100%;
    z-index: 999999!important;
}
#fifth{
    background-image: url("./../Common/img/Backgrounds/Backgrounds/5-bg.jpg"); /* The image used */
    background-color: #140e10; /* Used if the image is unavailable */
    height: 110vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    width: 100%;
    /*width: 100%;*/
    /*height: 100vh;*/
    /*background-image: url('./../Common/img/Backgrounds/Backgrounds/5-bg.jpg');*/
    /*background-size: 100% 100%;*/
}
#sixth{
    width: 100%;
    height:50vh;
    background-image: url('./../Common/img/Backgrounds/Backgrounds/6-bg.jpg');
    background-size: 100% 100%;
    z-index: 999999!important;

}
#seventh{
    background-image: url("./../Common/img/Backgrounds/Backgrounds/7-bg.jpg"); /* The image used */
    background-color: #140e10; /* Used if the image is unavailable */
    height: 110vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    width: 100%;
    /*width: 100%;*/
    /*height: 100vh;*/
    /*background-image: url('./../Common/img/Backgrounds/Backgrounds/7-bg.jpg');*/
    /*background-size: 100% 100%;*/
}
#eight{
    width: 100%;
    height:50vh;
    background-image: url('./../Common/img/Backgrounds/Backgrounds/8-bg.jpg');
    background-size: 100% 100%;
    /*z-index: 999999!important;*/

}
#slider1{
    width: 100%;
    height:50vh;
    background-image: url('./../Common/img/Backgrounds/Backgrounds/9-bg.jpg');
    background-size: 100% 100%;
}

#SecretPage{
    width: 100%;
    height:100vh;
    background-image: url('./../Common/img/Backgrounds/Backgrounds/4-bg.jpg');
    background-size: 100% 100%;
    /*z-index: 999999!important;*/
}
.wrongTxt{
  font-size: 1.3vw;
    color: darkred;
}
.EmptyTxt{
    font-size: 1.3vw;
    color: #86cfda;
}
/*#eleven{*/
    /*width: 100%;*/
    /*height: 100vh;*/
    /*background-image: url('./../Common/img/Backgrounds/Backgrounds/11-bg.jpg');*/
    /*background-size: 100% 100%;*/
/*}*/
